@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Anton', sans-serif;
}

@layer base {
  body {
    @apply bg-[#050505] text-gray-200;
  }
}

/* Custom styles for massive outline typography */
.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
}

.text-outline-hover:hover {
  color: white;
  -webkit-text-stroke: 0px transparent;
}
